<header>
  <title></title>
  <h1></h1>
</header>
<div class="container border border-dark w-50 mx-auto my-5 ">
<form [formGroup]="form" class="text-center p-5 ">

  <p class="h4 mb-4">Tableau d'éléments consécutifs</p>
  <input type="text" class="form-control mb-4" placeholder="saisissez un nombre" formControlName="number" >
  <button mdbBtn color="info" block="true" type="button" class="btn btn-outline-dark" (click)="add()">Ajouter</button>
  <button mdbBtn color="info" block="true" type="button" class="btn btn-outline-dark"(click)="done()">Valider</button>
</form>
<table class="table table-dark table-striped text-center border border-primary p-5">
  <tr>
    <td  *ngFor="let Number of tab" class="border border-primary">{{Number}}</td>
  </tr>
</table>
  <p class="h4 text-center">{{message}}</p>
</div>
